<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>ems</string>
		<key>name</key>
		<string>EMS</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>shentong</string>
		<key>name</key>
		<string>申通</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>yuantong</string>
		<key>name</key>
		<string>圆通</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>zhongtong</string>
		<key>name</key>
		<string>中通</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>huitong</string>
		<key>name</key>
		<string>汇通</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>tiantian</string>
		<key>name</key>
		<string>天天</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>yunda</string>
		<key>name</key>
		<string>韵达</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>shunfeng</string>
		<key>name</key>
		<string>顺丰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>zhaijisong</string>
		<key>name</key>
		<string>宅急送</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>CCES</string>
		<key>name</key>
		<string>cces</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>pingyou</string>
		<key>name</key>
		<string>中国邮政平邮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>xingchen</string>
		<key>name</key>
		<string>星辰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>sure</string>
		<key>name</key>
		<string>速尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>kuaijie</string>
		<key>name</key>
		<string>快捷</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>zhongtie</string>
		<key>name</key>
		<string>中铁快运</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>AAE</string>
		<key>name</key>
		<string>aae</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>expressIcon</string>
		<key>expressId</key>
		<string>anjie</string>
		<key>name</key>
		<string>安捷</string>
	</dict>
</array>
</plist>
